<footer class=" bg-darkgray nanumgothic">
  <div class="container py-4 text-white opensans">
    <div class="row">
      <div class="col-lg-4 text-center">
        <p>&copy; 2018 Vintage Logistics, Inc.</p>
      </div>
      <div class="col-lg-8 ">
        <div id="contact_numbers" class="row p-0">
          <div class="py-3 col-md-4 col-6">
            <h5 class="nanumgothic">
              Laredo, TX
            </h5>
            <div>
              956-391-2223<br>
              888-205-4908
            </div>
          </div>
          
          <div class="py-3 col-md-4 col-6">
            <h5 class="nanumgothic">
              Austin, TX
            </h5>
            <div>
              956-740-1640<br>
              956-285-6503
            </div>
          </div>
          
          <div class="py-3 col-md-4 col-6">
            <h5 class="nanumgothic">
              Monterrey, MX
            </h5>
            <div>
              818-340-5759<br>
              818-340-5769
            </div>
          </div>
          
          <div class="py-3 col-md-4 col-6">
            <h5 class="nanumgothic">
              Saltillo, MX
            </h5>
            <div>
              844-609-6600<br>
              844-271-8588
            </div>
          </div>
          
          <div class="py-3 col-md-4 col-6">
            <h5 class="nanumgothic">
              Mexico, DF
            </h5>
            <div>
              554-176-2678
            </div>
          </div>
          
          <div class="py-3 col-md-4 col-6">
            <h5 class="nanumgothic">
              Cd. Juarez, MX
            </h5>
            <div>
              812-064-0282
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</footer>
