<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCustom">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="ml-auto text-center d-lg-none d-md-block">
    <div class="my-auto">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <img class="img-fluid" style="max-width: 100px;" src="/assets/logo.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar-collapse collapse" id="navbarCustom">
    <div class="container">
      <div class="row navbar-nav opensans">
        <div class="d-lg-block d-md-none d-sm-none d-none nav-item">
          <a class="nav-link" href="/">
            <img class="img-fluid" width="150px" src="/assets/logo.png" />
          </a>
        </div>
        <div class="nav-item m-auto d-block">
          <a class="nav-link" href="/">HOME</a>
        </div>
        <div class="nav-item m-auto d-block">
          <a class="nav-link" href="about.html">ABOUT US</a>
        </div>
        <div class="nav-item m-auto d-block">
          <a class="nav-link" href="services.html">SERVICES</a>
        </div>
        <div class="nav-item m-auto d-block">
          <a class="nav-link" href="sharing_hope.html">SHARING HOPE</a>
        </div>
        <div class="nav-item m-auto d-block">
          <a class="nav-link" href="contact.html">CONTACT</a>
        </div>
        <div class="nav-item m-auto d-block bg-primarydark rounded-corners-10 hoverglow">
          <a class="nav-link text-white" href="track.html">Track</a>
        </div>
      </div>
      
    </div>
  </div>
  
</nav>
